.homePageImg1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.homePageImg2 {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  color: rgba(0, 0, 0, 0.8);
}

.homePageImg3 {
  position: absolute;
  top: 200vh;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.headLine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.aboutLine {
  position: absolute;
  top: 100vh;
  color: white;
}

.locationLine {
  position: absolute;
  top: 200vh;
  color: white;
}

.edit {
  font-size: 2rem;
}

.insideImg {
  position: absolute;
  top: 120vh;
  width: 45%;
  height: auto;
  right: 30px;
  border: 5px ridge rgba(0, 0, 0, 0.75);
}

.locationImg {
  position: absolute;
  top: 230vh;
  width: 50%;
  right: 30px;
  height: auto;
  border: 5px ridge rgba(0, 0, 0, 0.75);
}

@font-face {
  font-family: "BastradRegular";
  src: url("/public/Bastrad-Regular.otf") format("opentype");
}
.edit {
  font-family: "BastradRegular", sans-serif;
  font-size: 7rem;
}

.aboutStyle {
  font-family: Outfit;
  color: white;

  font-weight: 600;
}

.aboutDiv {
  position: absolute;
  top: 130vh;
  padding: 10px;

  width: 40%;
}
