@font-face {
  font-family: "BastradRegular";
  src: url(/public/Bastrad-Regular.otf) format("opentype");
}

.store-container {
  position: relative;
  background-image: url(/public/assets/backgroundStore.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  padding: 20px;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  padding-top: 60px;
}

.store-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
  pointer-events: none;
}

.group-title {
  position: relative;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  font-family: "BastradRegular";
  font-size: 80px;
  letter-spacing: 5px;
}

.card-container {
  position: relative;
  z-index: 2;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
}

.card-text {
  font-size: 1em;
  color: black;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-buy-now {
  background-color: rgba(43, 42, 42, 0.603);
  border: none;
  color: white;
}

.btn-buy-now:hover {
  background-color: #218838;
}

@media (max-width: 576px) {
  .card-img-top {
    height: 150px;
  }
}
